fastapi>=0.110.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
python-dotenv>=1.0.1

# Database
sqlalchemy>=2.0.29

# Pydantic
pydantic>=2.7.0
pydantic-settings>=2.2.1

# LangChain & AI
langchain>=0.1.16
langchain-community>=0.0.33
langchain-core>=0.1.42
langchain-google-genai>=1.0.1
langchain-openai>=0.1.3
json-repair>=0.30.0
langchain-chroma>=0.1.0

# Vector DB
chromadb>=0.4.24

# Document Loaders
pymupdf>=1.24.0
docx2txt>=0.8

# Utilities
watchfiles>=0.21.0
requests>=2.31.0

# Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.3.0

# LangGraph
langgraph>=0.0.10

# OpenTelemetry fix
opentelemetry-api>=1.39.1
opentelemetry-sdk>=1.39.1
opentelemetry-exporter-otlp-proto-grpc>=1.39.1
opentelemetry-exporter-otlp-proto-http>=1.39.1
pypdf
PyYAML==6.0.1
